block vars
doctype html
html(ng-app="app")
  head
    title Payme4 - денежные переводы по e-mail
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="description" content="Нужно вернуть долг или получить деньги за товары/услуги на банковскую карту? PayMe4 поможет Вам в этом!")
    link(href="/public/app/images/favicon.png" rel="icon" type="image/png")
    link(rel='stylesheet', href='/public/build/css/deps.min.css')
    link(rel='stylesheet', href='/public/build/css/app.min.css')
    script(type='text/javascript', src='/public/build/js/deps.min.js')
    script(type='text/javascript', src='/public/build/js/app.min.js')
    script(type='text/javascript', src='//use.typekit.net/isd5xxq.js')
    script.
      try {
        Typekit.load();
      } catch (e) {}
    base(href=baseHref)
  body
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-53V9ZV" height="0" width="0" style="display:none;visibility:hidden")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','#{config.analytics.gtm.id}');
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
            a.logo(href="/")
        .navbar-collapse.collapse(id="navbar")
          ul.nav.navbar-nav
            li
              a(href="#what-is-it-for", slide-to-anchor="/") Для чего это нужно?
            li
              a(href="#how-to-use", slide-to-anchor="/") Как этим пользоваться?
            li
              a(href="/faq") Вопросы и ответы
    block content
    
    a.back-to-top(href="#")
      i.fa.fa-arrow-circle-up

    footer.footer
      .container
        .row
          .col-xs-2.col-sm-3.footer-left-links
            a(href='/terms') Условия
            a(href='/tariffs') Тарифы
          .col-sm-5.hidden-xs.footer-center-links
            img(src="/public/app/images/secure-mobile.jpg")
          .col-xs-10.col-sm-4.footer-right-links
            include zingaya
            a.support-email(href='mailto:'+config.contacts.support.email)= config.contacts.support.email
          .col-xs-12.visible-xs-block.footer-center-links
            img(src="/public/app/images/secure-mobile.jpg")
    
    script.
      $(document).ready(function () {
        var duration = 500;
        
        var handleScroll = function () {
          var section = $('#what-is-it-for');
          var offset = (section.length == 0) ? Math.max(document.documentElement.clientHeight, window.innerHeight || 0) : section.offset().top;
          if ($(this).scrollTop() > offset) {
            $('.back-to-top').fadeIn(duration);
          } else {
            $('.back-to-top').fadeOut(duration);
          }
        };
        
        $(window).scroll(handleScroll).resize(handleScroll);
        $('.back-to-top, .back-to-top-link').click(function (event) {
          event.preventDefault();
          $('html, body').animate({scrollTop: 0}, duration);
          return false;
        });
      });