a.zingayaButton.zingaya64b82b1520814088a3e79bef5135b06f(id="zingayaButton64b82b1520814088a3e79bef5135b06f"
href="https://zingaya.com/widget/64b82b1520814088a3e79bef5135b06f"
onclick="window.open(this.href+'?referrer='+escape(window.location.href)+'', '_blank', 'width=236,height=220,resizable=no,toolbar=no,menubar=no,location=no,status=no'); return false;")
script.
  var ZingayaConfig = {"buttonLabel":"Позвонить Онлайн","labelColor":"#ffffff","labelFontSize":16,"labelTextDecoration":"none","labelFontWeight":"bold","labelShadowDirection":"bottom","labelShadowColor":"#8fd3ec","labelShadow":1,"buttonBackgroundColor":"#0056ab","buttonGradientColor1":"#0056ab","buttonGradientColor2":"#0056ab","buttonGradientColor3":"#0056ab","buttonGradientColor4":"#0056ab","buttonShadow":"true","buttonHoverBackgroundColor":"#69ad26","buttonHoverGradientColor1":"#0065ca","buttonHoverGradientColor2":"#0065ca","buttonHoverGradientColor3":"#0065ca","buttonHoverGradientColor4":"#0065ca","buttonActiveShadowColor1":"#000000","buttonActiveShadowColor2":"#000000","buttonCornerRadius":0,"buttonPadding":10,"iconColor":"#fff","iconOpacity":1,"iconDropShadow":1,"iconShadowColor":"#13487f","iconShadowDirection":"bottom","iconShadowOpacity":0.5,"callme_id":"64b82b1520814088a3e79bef5135b06f","poll_id":null,"analytics_id":null,"zid":"64bda1131f8d344c22f751954fce1221","type":"button","widgetPosition":"right","plain_html":false,"save":1};
  (function(d, t) {
    var g = d.createElement(t),s = d.getElementsByTagName(t)[0];g.src = '//d1bvayotk7lhk7.cloudfront.net/js/zingayabutton.js';g.async = 'true';
      g.onload = g.onreadystatechange = function() {
      if (this.readyState && this.readyState != 'complete' && this.readyState != 'loaded') return;
      try {Zingaya.load(ZingayaConfig, 'zingaya64b82b1520814088a3e79bef5135b06f'); if (!Zingaya.SVG()) {
        var p = d.createElement(t);p.src='//d1bvayotk7lhk7.cloudfront.net/PIE.js';p.async='true';s.parentNode.insertBefore(p, s);
        p.onload = p.onreadystatechange = function() {
          if (this.readyState && this.readyState != 'complete' && this.readyState != 'loaded') return;
          if (window.PIE) PIE.attach(document.getElementById("zingayaButton"+ZingayaConfig.callme_id));
  }}} catch (e) {}};
  s.parentNode.insertBefore(g, s);
  }(document, 'script'));