extends ../../layout

block title
  title Confirm invoice

block email_body
  table(align="center", cellspacing="0", cellpadding="0", border="0", width="#{content_width}")
    tbody
      tr
        td.title(align="center") Вы запросили перевод
      +tr_space(15)
      tr
        td.amount(align="center", valign="middle")
          div.amount #{email.invoice.amount} &#8381;
      tr
        td.desc(valign="middle")
          p От: #{email.invoice.payer.name}
          p= email.invoice.text
      +tr_space(15)
      tr
        td.button(height="50", align="center", valign="middle", bgcolor="#0480ff")
          a.button(href=email.actionUrl) Ввести данные карты
      +tr_space(15)
      tr
        td.button-secondary(align="center", valign="middle")
          a.button-secondary(href=email.cancelUrl) Отменить запрос
      +tr_space(15)
