.container(ng-controller='InvoicePayCtrl')
  form(id="pay_invoice", name="form", ng-submit="submit()", novalidate, ng-show="invoice")
    fieldset(ng-disabled="submitting")
      .row
        .col-xs-12.col-md-10.col-md-offset-1
          h1 Оплата счета на сумму {{ invoice.amount | currency:"₽":0 }}
          p
            | {{ invoice.owner_name }} 
            span.font-light {{ invoice.owner.email }} 
            | выставил счет {{ invoice.created_at | date:'d MMMM' }} и просит оплатить до {{ invoice.expire_at | date:'d MMMM' }}.
          .error(ng-show='error')
            span.error-icon
            .error-text
              p.error-header Ошибка!
              p {{ error.message }}
      .row
        .col-xs-12.col-md-4.col-md-offset-1
          .row
            .col-xs-12.col-sm-12.col-md-12
              .form-group
                h3 ОПЛАТА БАНКОВСКОЙ КАРТОЙ
                label(for='card_number') Номер карты
                input.input-lg.form-control(type="text"
                id="card_number"
                name="card_number"
                ng-model="card.number"
                inputmode="numeric"
                autocomplete="cc-number"
                autocompletetype="cc-number"
                x-autocompletetype="cc-number"
                ui-mask='9999 9999 9999 9999'
                required
                luhn)
                .error-message(ng-show="form.card_number.$error.commission") Мы не смогли рассчитать комиссию, проверьте правильность ввода номера карты
                .error-message(ng-show="form.card_number.$error.invalid && form.card_number.$touched && !form.card_number.$pristine") Неверный номер карты
          .row
            .col-xs-12.col-md-8
              .form-group
                label(for="card_exp_date") Срок действия
                input.input-lg.form-control(id="card_exp_date", name="card_exp_date", type="text",
                autocomplete="cc-exp"
                autocompletetype="cc-exp"
                x-autocompletetype="cc-exp",
                jmask, data-mask="99/2099", ng-model="card.exp_date", ng-required="true")
                div.alert.alert-warning(ng-show="form.card_exp_date.$invalid && form.card_exp_date.$touched && !form.card_exp_date.$pristine") Укажите корректный срок действия карты
            .col-xs-12.col-md-4
              .form-group
                label(for="card_cvv") CVV Код
                input.input-lg.form-control(id="card_cvv", name="card_cvv", type="text", jmask, mask="999", ng-model="card.cvv", maxlength="3", ng-required="true")
                span.alert.alert-warning(ng-show="form.card_cvv.$invalid && form.card_cvv.$touched && form.card_cvv.$dirty") Укажите корректный cvv код
          .row
            .col-xs-12.col-sm-12.col-md-12
              .form-group
                .checkbox
                  label
                    input(type='checkbox' 
                    ng-model="card.payer_terms_accept"
                    required)
                    i(ng-class="{'ng-invalid': !card.payer_terms_accept}")
                    | Я соглашаюсь с 
                    a(href="/terms", target="_blank") Условиями предоставления сервиса
          .row
            .col-xs-12.col-md-12
              .form-group
                button.btn.btn-primary.btn-lg.btn-block(
                  type="submit" ng-disabled="submitting")
                  | ОПЛАТИТЬ {{ invoice.amount + fee.value | currency:"₽":0 }}
                .commission(ng-show='fee.calculated') Комиссия {{ fee.value | currency:"₽":0 }} включена
            .col-xs-12.col-md-12
              .form-group.secondary-action.secondary-action-bottom
                | или 
                a.ajax-link(ng-click="openRefuseDialog()", href="") отказаться
        .col-xs-12.col-md-4.col-md-offset-1.card-col
          h3 &nbsp;
          .card-container
            card-widget.card-animate(card-number-input='#card_number', card-exp-date-input='#card_exp_date', card-cvv-input='#card_cvv')
          .card-3d-secure
            p
              | Карта должна поддерживать технологию 
              a(href="/faq?to=q6", target="_blank") безопасных платежей 3D-Secure
              |.
            .icon
              .icon-visa
            .icon
              .icon-mastercard
      
      
  form(name="form_3ds", method="POST", ng-hide="true" novalidate)
    input(type="hidden", name="PaReq")
    input(type="hidden", name="MD")
    input(type="hidden", name="TermUrl")
