extends ../../layout

block title
  title Pay invoice
  
block email_body
  table(align="center", cellspacing="0", cellpadding="0", border="0", width="#{content_width}")
    tbody
      tr
        td.title(align="center") Вам пришел счет
      +tr_space(15)
      tr
        td.amount(align="center", valign="middle")
          div.amount #{email.invoice.amount} &#8381;
      tr
        td.desc(valign="middle")
          p От: #{email.invoice.owner.name}
          p= email.invoice.text
      +tr_space(15)
      tr
        td.button(height="50", align="center", valign="middle", bgcolor="#0480ff")
          a.button(href=email.actionUrl) Оплатить
      +tr_space(15)
      tr
        td.button-secondary(align="center", valign="middle")
          a.button-secondary(href=email.refuseUrl) Отказаться от оплаты
      +tr_space(15)
