- var email_width = 300;
- var content_width = 220;

mixin tr_title(title)
  tr
    td.title(align="center")= title
    
mixin tr_amount(amount)
  tr
    td.amount(align="center", valign="middle")
      div.amount #{amount} &#8381;
        
mixin tr_desc
  tr
    td.desc(valign="middle")
      if block
        block
        
mixin tr_reason
  tr
    td.desc(valign="middle", align="center")
      if block
        block

mixin tr_primary_action(color, url, text)
  tr
    td.button(height="50", align="center", valign="middle", bgcolor="#{color}")
      a.button(href="#{url}")= text
      
mixin tr_secondary_action(url, text)
  tr
    td.button-secondary(align="center", valign="middle")
      a.button-secondary(href="#{url}")= text
      
mixin tr_space(height)
  tr
    td(height="#{height}")
      img(src="#{config.baseUrl}/public/mailer/images/pixel.gif", height="#{height}")
      
mixin table_wrapper(bgcolor)
  table(width="100%", cellspacing="0", cellpadding="0", border="0")
    tbody
      +tr_space(20)
      tr
        td(align="center")
          table.container(align="center", cellspacing="0", cellpadding="0", border="0", bgcolor="#{bgcolor}", width="#{email_width}")
            tbody
              tr
                td(width="#{email_width}", height="200", align="center")
                  img(src="#{config.baseUrl}/public/mailer/images/payme_logo_white.png")
              tr
                td(align="center")
                  table(align="center", cellspacing="0", cellpadding="0", border="0", width="#{content_width}")
                    tbody
                      block
      tr
        td(align="center")
          table(align="center", cellspacing="0", cellpadding="0", border="0", width="#{email_width}")
            tbody
              +tr_space(20)
              tr
                td.terms(align="center")
                  span.terms
                    | Используя наш сервис, вы соглашаетесь с 
                    a(href=email.termsUrl) условиями обслуживания
                    | .
              +tr_space(20)
              tr
                td.copyright(align="center")
                  span.copyright 2015 © Payme4 &nbsp;|&nbsp; <a href="#{config.baseUrl}/">Сайт</a> &nbsp;|&nbsp; <a href="#{config.baseUrl}/security">Безопасность</a>
      +tr_space(50)

doctype html
html
  head
    block title
    link(href='#{config.baseUrl}/public/mailer/styles/style.css', rel='stylesheet')
  body
    block content